@font-face {
  font-family: "lato-extra-light";
  src: url(../fonts/lato/Lato-Thin.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "lato-extra-light-italic";
  src: url(../fonts/lato/Lato-ThinItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: lighter;
}

@font-face {
  font-family: "lato-light";
  src: url(../fonts/lato/Lato-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: lighter;
}

@font-face {
  font-family: "lato-light-italic";
  src: url(../fonts/lato/Lato-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "lato-regular";
  src: url(../fonts/lato/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "lato-bold";
  src: url(../fonts/lato/Lato-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: bold;
}

footer {
  background-color: #484349;
}
