// Fonts

// gil sans bold
@font-face {
  font-family: "gil-sans-bold";
  src: url(./fonts/gil-sans-bold/GillSansNova-Bold.woff) format("woff")
    url(./fonts/gil-sans-bold/GillSansNova-Bold.woff2) format("woff2");
  font-weight: normal;
  font-style: bold;
}

// gil sans book

@font-face {
  font-family: "gil-sans-book";
  src: url(./fonts/gil-sans-book/GillSansNova-Book.woff) format("woff")
    url(./fonts/gil-sans-book/GillSansNova-Book.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

//gil sans medium

@font-face {
  font-family: "gil-sans-medium";
  src: url(./fonts/gil-sans-medium/GillSansNova-Medium.woff) format("woff")
    url(./fonts/gil-sans-medium/GillSansNova-Medium.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

//gil sans semibold

@font-face {
  font-family: "gil-sans-semiBold";
  src: url(./fonts/gil-sans-semiBold/GillSansNova-CnSemiBold.woff)
    format("woff") url(./fonts/gil-sans-semiBold/GillSansNova-CnSemiBold.woff2)
    format("woff2");
  font-weight: normal;
  font-style: bold;
}

// colores
$colorPrincipal: #009ba4;
$colorSecundario: #18a999;
$colorTerciario: #f7f0f0;
$colorCuaternario: #51cdd2;
$colorEnfasis: #dd8669;
$colorEnfasisDos: #ff6233;
$colorTexto: #484349;

// texto y titulos

$titulo: normal 1.2em "gil-sans-bold", sans-serif;
$subtitulo: normal 1em "gil-sans-semiBold", sans-serif;
$texto: normal 0.8em "gil-sans-book", sans-serif;
$textoAlternativo: normal 0.8em "gil-sans-medium", sans-serif;
