// colores
$colorPrincipal: #009ba4;
$colorSecundario: #18a999;
$colorTerciario: #f7f0f0;
$colorCuaternario: #51cdd2;
$colorEnfasis: #dd8669;
$colorEnfasisDos: #ff6233;
$colorTexto: #484349;
$colorTextoDos: #676368;

// fonts

// lato extra-light
@font-face {
  font-family: "lato-extra-light";
  src: url(../fonts/lato/Lato-Thin.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}
// poppins extra-light italic
@font-face {
  font-family: "lato-extra-light-italic";
  src: url(../fonts/lato/Lato-ThinItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: lighter;
}
// poppins light
@font-face {
  font-family: "lato-light";
  src: url(../fonts/lato/Lato-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: lighter;
}
// poppins light italic
@font-face {
  font-family: "lato-light-italic";
  src: url(../fonts/lato/Lato-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}
// poppins regular
@font-face {
  font-family: "lato-regular";
  src: url(../fonts/lato/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

// poppins bold
@font-face {
  font-family: "lato-bold";
  src: url(../fonts/lato/Lato-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: bold;
}

$titulo: "lato-bold", serif;
$tituloSize: 3rem;
$subtitulo: "lato-light", serif;
$subtituloSize: 1.7rem;
$texto: "lato-regular", serif;
$textoSize: 1.1rem;
