@import "fonts-variables";

footer {
  background-color: #23282f;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  .footer-detalles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    width: 100%;

    .footer-logo {
      width: 120px;
    }

    .footer-direccion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .footer-direccion-info {
        font-family: $texto;
        font-size: $textoSize;
        color: $colorTerciario;
      }
    }
    .footer-listado {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0%;
      .footer-listado-link {
        text-decoration: none;
        list-style: none !important;
        margin: 0px 10px;
        font-family: $subtitulo;
        font-family: $subtitulo;
        font-size: $textoSize;
      }
      a {
        text-decoration: none;
        color: $colorTerciario;
      }
    }

    .footer-redes-sociales {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .footer-redes-sociales-contenedor-iconos {
        width: 30px;
        margin: 0px 10px;
      }
    }
  }
  .footer-creditos {
    .footer-creditos-info {
      margin-bottom: 0% !important;
      font-family: $subtitulo;
      font-size: $textoSize;
      color: $colorTerciario;
      padding-bottom: 20px;
    }
    .footer-creditos-info a {
      text-decoration: none;
      color: $colorEnfasis;
    }
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  footer {
    background-color: #23282f;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: auto !important;

    .footer-detalles {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      // padding-top: 20px;
      width: auto !important;
      // height: 300px;

      .footer-logo {
        width: 120px;
      }

      .footer-direccion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .footer-direccion-info {
          font-family: $texto;
          font-size: $textoSize;
          color: $colorTerciario;
        }
      }
      .footer-listado {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0%;
        .footer-listado-link {
          text-decoration: none;
          list-style: none !important;
          margin: 0px 10px;
          font-family: $subtitulo;
          font-family: $subtitulo;
          font-size: $textoSize;
          display: none;
        }
        a {
          text-decoration: none;
          color: $colorTerciario;
        }
      }

      .footer-redes-sociales {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .footer-redes-sociales-contenedor-iconos {
          width: 30px;
          margin: 0px 10px;
        }
      }
    }
    .footer-creditos {
      .footer-creditos-info {
        margin-bottom: 0% !important;
        font-family: $subtitulo;
        font-size: $textoSize;
        color: $colorTerciario;
        padding-bottom: 120px;
        margin-top: 30px;
      }
      .footer-creditos-info a {
        text-decoration: none;
        color: $colorEnfasis;
      }
    }
  }
}
