@import "fonts-variables";

header {
  position: relative;
  .header-carousel {
    .header-carousel-contenedor {
      .carousel-item {
        width: 100%;
        height: 43vw;

        .header-imagen-carousel {
          object-fit: cover !important;
        }
      }
    }
  }
}

.primera-seccion__presentacion-icono-whatsapp {
  visibility: visible;
  display: block !important;
  position: fixed !important;
  z-index: 100;
  font-size: 40px;
  background-color: #1d2326;
  color: white;
  width: 80px;
  height: 80px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
  position: relative;
  float: right;
  bottom: 6vw;
  right: 2vw;
  background-color: $colorPrincipal;
}
.primera-seccion__presentacion-icono-whatsapp:hover {
  background-color: $colorEnfasis !important;
  color: $colorTerciario !important;
  text-decoration: none !important;
}
