@import "fonts-variables";

.medicos {
  display: flex;
  flex-direction: column;
  .medicos-contenedor-tit {
    margin: 100px 0px 50px 30px;
    display: flex;
    justify-content: flex-end;
    .medicos-contenedor-titulos {
      width: 98.5%;
      margin-bottom: 50px;

      .medicos-contenedor-titulos-subitulos {
        font-family: $subtitulo;
        font-size: $subtituloSize;
        color: $colorTexto;
        margin-bottom: 25px;
      }
      .medicos-contenedor-titulos-titulos {
        font-family: $titulo;
        font-size: $tituloSize;
        color: $texto;
      }
    }
  }
  .medicos-contenedor {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .medicos-contenedor-cards {
      width: 210px;
      height: 360px;
      display: grid;
      grid-template-areas:
        "foto"
        "nombre"
        "especialidad";
      grid-template-columns: 100%;
      grid-template-rows: 70% 15% 15%;
      // background-color: aqua;
      border-radius: 7px;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      margin-bottom: 25px;

      .medicos-contenedor-cards-perfil {
        grid-area: foto;

        .medicos-contenedor-cards-perfil-foto {
          object-fit: cover !important;
          width: 100%;
          height: 100%;
          border-radius: 7px 7px 0px 0px;
        }
      }
      .medicos-contenedor-cards-nombre {
        grid-area: nombre;
        font-family: $titulo;
        font-size: 1rem;
        text-align: center;
        align-self: center;
        color: $colorTexto;
      }
      .medicos-contenedor-cards-especialidad {
        grid-area: especialidad;
        font-family: $subtitulo;
        font-size: $textoSize;
        text-align: center;
        align-self: flex-start;
        margin: 0;
        color: $colorTexto;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .medicos {
    margin: 0% !important;
    padding: 0% !important;
  }

  .medicos-contenedor {
    display: none !important;
  }
  .item {
    object-fit: cover !important;
  }
  .medicos-contenedor-cards {
    margin: auto;
    width: 290px;
    height: 370px;
    display: grid;
    grid-template-areas:
      "foto"
      "nombre"
      "especialidad";
    grid-template-columns: 100%;
    grid-template-rows: 70% 15% 15%;
    // background-color: aqua;
    border-radius: 7px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
  }
  .medicos-contenedor-cards-perfil {
    grid-area: foto;

    .medicos-contenedor-cards-perfil-foto {
      object-fit: cover !important;
      width: 100%;
      height: 100%;
      border-radius: 7px 7px 0px 0px;
    }
  }
  .medicos-contenedor-cards-nombre {
    grid-area: nombre;
    font-family: $titulo;
    font-size: 1rem;
    text-align: center;
    align-self: center;
    color: $colorTexto;
  }
  .medicos-contenedor-cards-especialidad {
    grid-area: especialidad;
    font-family: $subtitulo;
    font-size: $textoSize;
    text-align: center;
    align-self: flex-start;
    margin: 0;
    color: $colorTexto;
  }
  .owl-dots {
    display: none;
  }
  .medicos-contenedor-tit {
    margin: 50px 0px 30px 30px !important;
    display: flex;
    justify-content: flex-end;
    padding: 0% !important;
  }
  .owl-carousel {
    padding: 0% !important;
  }
  .medicos-contenedor-tit {
    margin: 100px 0px 50px 30px;
    display: flex;
    justify-content: flex-end;
    width: 40% !important;
    .medicos-contenedor-titulos {
      // width: 98.5%;
      margin-bottom: 30px !important;

      .medicos-contenedor-titulos-subitulos {
        font-family: $subtitulo;
        font-size: $subtituloMobileSize !important;
        color: $colorTexto;
        margin-bottom: 25px;
        width: auto !important;
        object-fit: cover !important;
      }
      .medicos-contenedor-titulos-titulos {
        font-family: $titulo;
        font-size: $tituloMobileSize !important;
        color: $texto;
        width: auto !important;
        object-fit: cover !important;
      }
    }
  }
}
