// import

@import "fonts-variables";
@import "header";
@import "informacion";
@import "especialidades";
@import "medicos";
@import "contacto";
@import "footer";
// variables
* {
  padding: 0;
  margin: 0%;
}
span {
  border-bottom: 2.25px solid $colorEnfasis;
  padding-bottom: 7px;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
textarea {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  border-bottom: 1px solid $colorEnfasis !important;
  border-radius: 0% !important;
}
input {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  border-bottom: 1px solid $colorEnfasis !important;
  border-radius: 0% !important;
}
